/* @keyframes blink-and-stay {
  0% { opacity: 0.5; }
  50% { opacity: 1; }
  100% { opacity: 1; }
} */

@keyframes heart-scale {
  0% {transform: scale(1);}
  50% {transform: scale(1.25);}
  100% {transform: scale(1);}
}

@keyframes sparks-appear {
  0% {opacity: 0; transform: scale(1);}
  50% {opacity: 1; transform: scale(1.25);}
  100% {opacity: 0; transform: scale(1);}
}

.like-icon:active .core,
.like-icon.is-liked .core {
  fill: var(--animation-fill-color);
}

.like-icon:active .main-body,
.like-icon.is-liked .main-body {
  fill: var(--animation-fill-color);
}

.like-icon.is-liked .contour {
  fill: var(--animation-fill-color);
  transition-delay: 0.06s;
}

.card__like-button:hover .button__text,
.save__button:hover .button__text,
.save__button:hover .floppy__icon {
  animation: blink-and-stay 1s ease-in-out forwards;
}

.like-icon.is-liked .heart {
  transform-origin: center;
  animation: heart-scale 0.3s 0.1s ease-in forwards;
}

.like-icon.is-liked .sparks {
  transform-origin: center;
  animation: sparks-appear 0.3s 0.3s ease-in forwards;
}
