/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  font-family: var(--main-font);
  font-variation-settings: "wght" var(--text-weight);
  background-color: var(--card-bg);
  background-image: var(--background-image);
  background-size: cover;
  background-attachment: fixed;
  background-blend-mode: multiply;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.fullwidth {
  inline-size: 100vw;
}

.header__box {
  padding: clamp(120px, calc(120px + 0.0075 * (100vw - 375px)), 128px)
    clamp(14px, calc(14px + 0.1 * (100vw - 375px)), 120.5px);
  border: 2px solid var(--border-color);
  inline-size: 696px;
  margin: 100px 372px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.header__title {
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  font-family: var(--accent-font);
}

.header__subtitle {
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  font-family: var(--accent-font);
  text-transform: uppercase;
}

.card__section {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  margin-block-end: 51.5px;
}

.card {
  background-color: var(--card-bg);
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  border: 2px solid var(--border-color);
  inline-size: var(--card-inline-size);
}

.card__title {
  align-self: self-start;
  padding: 3px 24px 3px 10px;
  font-variation-settings: "wght" var(--title-weight);
  font-size: var(--title-font-size);
}

.card__image-container {
  position: relative;
  inline-size: 100%;
  margin-block-end: 10px;
}

.card__image {
  display: block;
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
}

.card__label {
  position: absolute;
  top: 28px;
  right: 25px;
  font-family: var(--accent-font);
  font-size: var(--label-font-size);
  mix-blend-mode: var(--label-blend-mode);
  -webkit-text-stroke: var(--text-stroke-width) var(--text-stroke-color);
  text-stroke: var(--text-stroke-width) var(--text-stroke-color);
  opacity: 0.7;
}

@supports not ((-webkit-text-stroke: 1px black) or (text-stroke: 1px black)) {
  .card__label {
    text-shadow: -1px -1px 0 var(--text-stroke-color),
      1px -1px 0 var(--text-stroke-color), -1px 1px 0 var(--text-stroke-color),
      1px 1px 0 var(--text-stroke-color);
  }
}

.card__content {
  display: flex;
  flex-direction: column;
  gap: 27px;
  padding: 25px 25px;
  font-size: var(--title-font-size);
  line-height: 21px;
}

.card__footer {
  align-self: self-end;
  display: flex;
  gap: 8px;
  padding: 0 25px 25px 0;
}

.button {
  border: none;
  background-color: var(--card-bg);
}

.card__like-button {
  border: 2px solid var(--border-color);
  padding: 9px 34px;
  font-size: var(--button-font-size);
  line-height: 90%;
}

.card__icon-button {
  padding-block-start: 9px;
}

.save__container {
  display: flex;
  justify-content: center;
  margin-block-end: 103px;
  margin-inline-start: 18px;
}

.save__button {
  display: flex;
  justify-content: center;
  gap: 8px;
  border: 2px solid var(--border-color);
  inline-size: 335px;
  padding: 15px 0;
}

.button__text {
  font-family: var(--accent-font);
  font-size: var(--button-font-size);
  line-height: 90%;
  padding-block-start: 5px;
}

.modal {
  border: 2px solid var(--border-color);
  inline-size: 357px;
}

.modal[opened] {
  display: block;
}

.modal::backdrop {
  background-color: rgba(0, 0, 0, 0.5);
}

.modal__content {
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.modal__header {
  display: flex;
  align-items: center;
  gap: 20px;
}

.modal__title {
  font-size: var(--label-font-size);
  font-weight: var(--text-weight);
  font-family: var(--accent-font);
  text-transform: uppercase;
  line-height: 150%;
}

.modal__button {
  background-color: var(--card-bg);
  border: 2px solid var(--border-color);
  font-family: var(--accent-font);
  text-transform: uppercase;
  inline-size: 293px;
  padding: 10px 0;
}




@media (width <= 376px) {
  .fullwidth {
    inline-size: var(--full-width);
  }

  .card__section {
    margin-block-end: 50px;
  }

  .save__container {
    margin-inline-start: 0;
  }

  .save__button {
    flex-direction: column;
    align-items: center;
    inline-size: 306px;
  }


}